<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-title>
        <span ng-show="!hasSearch">{{title}}</span>
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <div class="searchBar" ng-show="hasSearch">
          <div class="searchTxt">
            <div class="bgdiv"></div>
            <div class="bgtxt">
              <input type="text" placeholder="Chercher..." ng-enter="search(search.query)" ng-model="search.query"
                     id="search">
            </div>
          </div>
          <i class="icon placeholder-icon"></i>
        </div>




        <button class="button button-clear" ng-click="closeSearch()" ng-show="hasSearch">
          <i class="icon ion-ios-close-outline"></i>
        </button>
        <a class="button button-icon button-clear ion-search" ng-click="showSearch()" ng-show="!hasSearch">
        </a>
      </ion-nav-buttons>


    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Catégories</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/posts/all">
          Accueil
        </ion-item>
        <ion-item nav-clear menu-close ng-href="#/app/posts/{{category.slug}}" ng-repeat="category in categories">
          {{category.name}}
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
