<ion-view view-title="PAS">
  <ion-content padding="true" class="app-content">
    <div class="card posts">

      <div class="item">
        <h2 class="title" ng-bind-html="post.title"></h2>

        <p class="description">{{post.date | date:'dd/MM/yyyy'}}</p>
      </div>

      <div class="item item-body">
        <!--<img src="img/default.gif">-->
        <img class="full-image"
             ng-src="{{ post.image}}">

        <div ng-bind-html="post.description" class="description"></div>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left post-icon">
        <a class="tab-item" href="#" ng-click="openLink()">
          <i class="icon ion-eye"></i>
          Voir l'article
        </a>
        <a class="tab-item" href="#" ng-click="share()">
          <i class="icon ion-share"></i>
          Partagez
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
