<ion-view>

  <ion-content padding="true" class="app-content">

    <div ng-show="!hasData" class="text-center">
      <ion-spinner></ion-spinner>
    </div>

    <div ng-show="hasData">
      <div class="list card posts">

        <a href="#" ng-click="openLink(posts[0].url)" class="featured-post">
          <div class="item">
            <h2 ng-bind-html="::posts[0].title" class="title"></h2>

            <p class="description">{{::posts[0].date | date:'dd/MM/yyyy | hh:mm'}}</p>
          </div>

          <div class="item item-body">
            <!--<img src="img/default.gif">-->
            <img class="full-image" ng-src="{{ posts[0].image}}">

            <p ng-bind-html="::posts[0].description" class="description"></p>
          </div>
        </a>

      </div>

      <ion-list class="card">
        <a class="item item-thumbnail-left post" ng-repeat="post in posts | startFrom : 1"
           ng-href="#app/post/{{post.id}}">
          <img ng-src="{{ post.thumbnail}}">
          <!--<img src="img/default.gif">-->
          <h2 class="title" ng-bind-html="::post.title"></h2>

          <p class="description">{{::post.date | date:'dd/MM/yyyy | hh:mm'}}</p>
        </a>


      </ion-list>

      <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>

    </div>

  </ion-content>
</ion-view>
