<ion-view>
  <ion-content padding="true" class="app-content">
    <ion-list class="list-inset">
      <a class="item item-thumbnail-left post" ng-repeat="post in posts"
         ng-href="#app/post/{{post.id}}">
        <img ng-src="{{ post.thumbnail}}">
        <!--<img src="img/default.gif"> -->
        <h2 class="title" ng-bind-html="post.title"></h2>

        <p class="description">{{post.date | date:'dd/MM/yyyy | hh:mm'}}</p>
      </a>


    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
