.post img {
  max-width: 100px !important;
}

.post h2 {
  margin-left: 10px !important;
}

.post p {
  margin-left: 10px !important;
}

.title {
  white-space: normal !important;
  font-weight: bold !important;
  font-size: 90% !important;
}

.featured-post {
  text-decoration: none;
}

* {
  box-shadow: none !important;
}

.searchBar {
  color: #fff;
  margin: 0 !important;
  padding: 0;
}

.searchBar .icon {
  font-size: 27px;
  line-height: 1.2;
  padding-right: 6px;
  padding-left: 6px;
}

.searchBar .searchTxt {
  border-bottom: 1px solid #fff;
  left: 55px;
  width: calc(100% - 100px);
  position: fixed;
  height: calc(100% - 10px);
}

.searchBar.numicons2 .searchTxt {
  width: calc(100% - 100px);
}

.searchBar .searchTxt > .bgdiv {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
}

.searchBar .searchTxt > .bgtxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.searchBar .searchTxt input {
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  width: calc(100% - 100px);
}

.app-content {
  background: #444444;
}

.posts {
  margin-top: 0px;
  margin-bottom: 5px;
}

.post-icon {
  background-color: #bfbfbf;
}

.post-icon a{
  color: #111111;
  font-weight: bold !important;
}

.description,.description p{
  color: #333 !important;
}
